In [1]:
import warnings
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [53]:
df = pd.read_csv('/Users/adriangarcia/Desktop/Project_ML_Adri/data/processed/merged_20_years.csv')

In [3]:
df

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,Unnamed: 66
0,Africa Eastern and Southern,AFE,Access to clean fuels and technologies for coo...,EG.CFT.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,16.789043,17.196986,17.597176,18.034249,18.345878,18.695306,19.149942,19.501837,NaN,NaN
1,Africa Eastern and Southern,AFE,Access to clean fuels and technologies for coo...,EG.CFT.ACCS.RU.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,6.397917,6.580066,6.786218,6.941323,7.096843,7.254828,7.460783,7.599289,NaN,NaN
2,Africa Eastern and Southern,AFE,Access to clean fuels and technologies for coo...,EG.CFT.ACCS.UR.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,37.660864,37.857526,38.204173,38.303515,38.421813,38.482409,38.692053,38.793983,NaN,NaN
3,Africa Eastern and Southern,AFE,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,31.610692,31.824950,33.744405,38.733352,40.092163,42.880977,44.073912,45.609604,NaN,NaN
4,Africa Eastern and Southern,AFE,"Access to electricity, rural (% of rural popul...",EG.ELC.ACCS.RU.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,18.535523,17.485006,16.329765,24.372504,25.153292,27.227391,29.383000,30.163364,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
383567,Zimbabwe,ZWE,Women who believe a husband is justified in be...,SG.VAW.REFU.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,14.500000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
383568,Zimbabwe,ZWE,Women who were first married by age 15 (% of w...,SP.M15.2024.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,3.700000,NaN,NaN,NaN,5.400000,NaN,NaN,NaN
383569,Zimbabwe,ZWE,Women who were first married by age 18 (% of w...,SP.M18.2024.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,32.400000,NaN,NaN,NaN,33.700000,NaN,NaN,NaN
383570,Zimbabwe,ZWE,Women's share of population ages 15+ living wi...,SH.DYN.AIDS.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,59.100000,59.400000,59.500000,59.700000,59.900000,60.100000,60.300000,60.500000,60.7,NaN
383571,Zimbabwe,ZWE,Young people (ages 15-24) newly infected with HIV,SH.HIV.INCD.YG,NaN,NaN,NaN,NaN,NaN,NaN,...,20000.000000,19000.000000,17000.000000,15000.000000,13000.000000,10000.000000,8600.000000,7700.000000,6800.0,NaN

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 383572 entries, 0 to 383571
Data columns (total 67 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Country Name    383572 non-null  object
 1   Country Code    383572 non-null  object
 2   Indicator Name  383572 non-null  object
 3   Indicator Code  383572 non-null  object
 4   1960            39013 non-null   float64
 5   1961            44356 non-null   float64
 6   1962            45590 non-null   float64
 7   1963            46470 non-null   float64
 8   1964            47012 non-null   float64
 9   1965            49196 non-null   float64
 10  1966            49222 non-null   float64
 11  1967            49908 non-null   float64
 12  1968            50559 non-null   float64
 13  1969            51327 non-null   float64
 14  1970            68969 non-null   float64
 15  1971            76029 non-null   float64
 16  1972            77953 non-null   float64
 17  1973            78621 non-null   float64
 18  1974            80105 non-null   float64
 19  1975            83908 non-null   float64
 20  1976            86222 non-null   float64
 21  1977            88872 non-null   float64
 22  1978            89651 non-null   float64
 23  1979            90555 non-null   float64
 24  1980            95243 non-null   float64
 25  1981            97548 non-null   float64
 26  1982            97873 non-null   float64
 27  1983            98817 non-null   float64
 28  1984            99469 non-null   float64
 29  1985            100907 non-null  float64
 30  1986            101626 non-null  float64
 31  1987            101812 non-null  float64
 32  1988            101890 non-null  float64
 33  1989            103413 non-null  float64
 34  1990            129284 non-null  float64
 35  1991            136594 non-null  float64
 36  1992            139741 non-null  float64
 37  1993            142256 non-null  float64
 38  1994            144613 non-null  float64
 39  1995            152463 non-null  float64
 40  1996            152490 non-null  float64
 41  1997            152717 non-null  float64
 42  1998            156059 non-null  float64
 43  1999            161521 non-null  float64
 44  2000            189121 non-null  float64
 45  2001            182270 non-null  float64
 46  2002            185474 non-null  float64
 47  2003            187606 non-null  float64
 48  2004            192838 non-null  float64
 49  2005            204545 non-null  float64
 50  2006            204628 non-null  float64
 51  2007            206984 non-null  float64
 52  2008            207740 non-null  float64
 53  2009            208893 non-null  float64
 54  2010            220197 non-null  float64
 55  2011            215677 non-null  float64
 56  2012            217616 non-null  float64
 57  2013            214724 non-null  float64
 58  2014            221889 non-null  float64
 59  2015            221720 non-null  float64
 60  2016            217733 non-null  float64
 61  2017            213330 non-null  float64
 62  2018            211293 non-null  float64
 63  2019            201851 non-null  float64
 64  2020            165768 non-null  float64
 65  2021            108687 non-null  float64
 66  Unnamed: 66     0 non-null       float64
dtypes: float64(63), object(4)
memory usage: 196.1+ MB

In [54]:
columns_to_keep = ['Country Code', 'Indicator Code', '2001']
df = df.loc[:, columns_to_keep]

In [55]:
df = df.rename(columns={'2001': 'Value'})

In [6]:
df

       Country Code     Indicator Code         Value
0               AFE     EG.CFT.ACCS.ZS     15.172744
1               AFE  EG.CFT.ACCS.RU.ZS      5.506086
2               AFE  EG.CFT.ACCS.UR.ZS     36.621054
3               AFE     EG.ELC.ACCS.ZS     26.151360
4               AFE  EG.ELC.ACCS.RU.ZS     15.396956
...             ...                ...           ...
383567          ZWE     SG.VAW.REFU.ZS           NaN
383568          ZWE  SP.M15.2024.FE.ZS           NaN
383569          ZWE  SP.M18.2024.FE.ZS           NaN
383570          ZWE  SH.DYN.AIDS.FE.ZS     57.800000
383571          ZWE     SH.HIV.INCD.YG  28000.000000

[383572 rows x 3 columns]

In [56]:
df = df.pivot(index='Country Code', columns='Indicator Code', values='Value')

In [57]:
df.reset_index(inplace=True)

In [58]:
df.to_csv('data_2001.csv', index=False)

In [100]:
df

Indicator Code,Country Code,AG.AGR.TRAC.NO,AG.CON.FERT.PT.ZS,AG.CON.FERT.ZS,AG.LND.AGRI.K2,AG.LND.AGRI.ZS,AG.LND.ARBL.HA,AG.LND.ARBL.HA.PC,AG.LND.ARBL.ZS,AG.LND.CREL.HA,...,per_sa_allsa.cov_q4_tot,per_sa_allsa.cov_q5_tot,per_si_allsi.adq_pop_tot,per_si_allsi.ben_q1_tot,per_si_allsi.cov_pop_tot,per_si_allsi.cov_q1_tot,per_si_allsi.cov_q2_tot,per_si_allsi.cov_q3_tot,per_si_allsi.cov_q4_tot,per_si_allsi.cov_q5_tot
0,ABW,NaN,NaN,NaN,20.00,11.111111,2000.0,0.019746,11.111111,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AFE,NaN,252.651251,21.266881,6824989.90,46.361515,NaN,0.187329,7.625402,50561610.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,AFG,NaN,155.958782,3.827006,379100.00,58.123668,7791000.0,0.266367,11.945173,2820000.0,...,7.093544,4.373297,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,AFW,NaN,594.463485,6.984154,3537430.10,39.105860,NaN,0.261395,10.590402,48745767.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,AGO,NaN,NaN,11.983830,530670.62,42.566024,4700000.0,0.193742,3.769953,2132989.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,XKX,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.812974,3.853908,15.98266,17.513623,35.567475,37.861720,37.675680,35.827277,34.305424,32.185142
262,YEM,NaN,NaN,12.403101,234520.00,44.419190,1161000.0,0.045573,2.198989,798619.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
263,ZAF,NaN,186.536485,60.334081,963740.00,79.445054,12033000.0,0.229448,9.919297,3218442.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
264,ZMB,NaN,NaN,46.147222,236360.00,31.794886,3600000.0,0.252352,4.842680,1229840.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
265,ZWE,NaN,398.225000,26.548333,164000.00,42.393693,4200000.0,0.322437,10.856921,1996759.0,...,23.064290,13.493681,NaN,1.047808,2.655040,0.446569,1.460003,1.907218,3.979413,5.480463

## DATA MERGING

In [59]:
import os

path = "Data merging/"
data_frames = []

In [60]:
for file in os.listdir(path):
    if file.endswith(".csv"):
        df = pd.read_csv(os.path.join(path, file))
        data_frames.append(df)

In [61]:
df = pd.concat(data_frames, ignore_index=True)

In [62]:
df.insert(0, "ID", range(1, len(df)+1))

In [63]:
df = df.set_index('ID')

In [64]:
df

,Country Code,AG.AGR.TRAC.NO,AG.CON.FERT.PT.ZS,AG.CON.FERT.ZS,AG.LND.AGRI.K2,AG.LND.AGRI.ZS,AG.LND.ARBL.HA,AG.LND.ARBL.HA.PC,AG.LND.ARBL.ZS,AG.LND.CREL.HA,...,per_sa_allsa.cov_q4_tot,per_sa_allsa.cov_q5_tot,per_si_allsi.adq_pop_tot,per_si_allsi.ben_q1_tot,per_si_allsi.cov_pop_tot,per_si_allsi.cov_q1_tot,per_si_allsi.cov_q2_tot,per_si_allsi.cov_q3_tot,per_si_allsi.cov_q4_tot,per_si_allsi.cov_q5_tot
ID,,,,,,,,,,,,,,,,,,,,,
1,ABW,NaN,NaN,NaN,20.00,11.111111,2000.0,0.020159,11.111111,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,AFE,NaN,239.907049,19.294061,6763004.83,45.943486,NaN,0.187129,7.291427,46878576.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,AFG,223.0,108.129575,1.887862,379100.00,58.123668,7793000.0,0.284569,11.948239,3192000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,AFW,NaN,520.731963,6.670893,3515615.22,38.864700,NaN,0.266345,10.201647,43814698.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,AGO,NaN,NaN,5.472250,519569.39,41.675575,4000000.0,0.177717,3.208470,1849528.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5050,XKX,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5051,YEM,NaN,NaN,13.664151,235570.00,44.618065,1325000.0,0.063907,2.509612,685491.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5052,ZAF,63200.0,163.237989,60.287594,976080.00,80.462291,13300000.0,0.273910,10.963737,4329495.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5053,ZMB,NaN,NaN,29.904612,228970.00,30.800791,2862000.0,0.255809,3.849931,756300.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5054,ZWE,NaN,84.658824,22.724211,160000.00,41.359700,3800000.0,0.312477,9.822929,2383136.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [65]:
df.to_csv("merged_20_years.csv", index=False)

In [139]:
# ELIMINAR COLUMNAS CON DEMASIADOS NANS
df = df.dropna(thresh=len(df) - 1000, axis=1)

In [155]:
# ELIMINAR ROWS CON DEMASIADOS NANS
df = df.dropna(thresh=len(df.columns) - 100, axis=0)

In [148]:
df = df.drop(columns='Country Code')

In [158]:
nan_counts = df.isna().sum()
for column_name, count in nan_counts.items():
    print(f"Column '{column_name}' has {count} NaN values.")

Column 'AG.LND.AGRI.K2' has 35 NaN values.
Column 'AG.LND.AGRI.ZS' has 35 NaN values.
Column 'AG.LND.ARBL.HA.PC' has 67 NaN values.
Column 'AG.LND.ARBL.ZS' has 65 NaN values.
Column 'AG.LND.CROP.ZS' has 120 NaN values.
Column 'AG.LND.FRST.K2' has 35 NaN values.
Column 'AG.LND.FRST.ZS' has 35 NaN values.
Column 'AG.LND.TOTL.K2' has 12 NaN values.
Column 'AG.SRF.TOTL.K2' has 12 NaN values.
Column 'BX.KLT.DINV.CD.WD' has 105 NaN values.
Column 'BX.KLT.DINV.WD.GD.ZS' has 136 NaN values.
Column 'BX.TRF.PWKR.CD.DT' has 126 NaN values.
Column 'EG.ELC.ACCS.RU.ZS' has 110 NaN values.
Column 'EG.ELC.ACCS.UR.ZS' has 48 NaN values.
Column 'EG.ELC.ACCS.ZS' has 8 NaN values.
Column 'EN.POP.DNST' has 12 NaN values.
Column 'ER.FSH.AQUA.MT' has 151 NaN values.
Column 'ER.FSH.CAPT.MT' has 10 NaN values.
Column 'ER.FSH.PROD.MT' has 151 NaN values.
Column 'IT.CEL.SETS' has 73 NaN values.
Column 'IT.CEL.SETS.P2' has 73 NaN values.
Column 'IT.MLT.MAIN' has 68 NaN values.
Column 'IT.MLT.MAIN.P2' has 73 NaN values.
Column 'IT.NET.BBND' has 148 NaN values.
Column 'IT.NET.BBND.P2' has 150 NaN values.
Column 'IT.NET.SECR.P6' has 40 NaN values.
Column 'NV.AGR.TOTL.CD' has 104 NaN values.
Column 'NV.AGR.TOTL.ZS' has 104 NaN values.
Column 'NV.IND.TOTL.CD' has 107 NaN values.
Column 'NV.IND.TOTL.ZS' has 107 NaN values.
Column 'NV.SRV.TOTL.CD' has 119 NaN values.
Column 'NV.SRV.TOTL.ZS' has 119 NaN values.
Column 'NY.ADJ.AEDU.GN.ZS' has 121 NaN values.
Column 'NY.ADJ.DKAP.GN.ZS' has 117 NaN values.
Column 'NY.ADJ.DMIN.GN.ZS' has 104 NaN values.
Column 'NY.GDP.COAL.RT.ZS' has 137 NaN values.
Column 'NY.GDP.DEFL.KD.ZG' has 58 NaN values.
Column 'NY.GDP.FRST.RT.ZS' has 42 NaN values.
Column 'NY.GDP.MINR.RT.ZS' has 42 NaN values.
Column 'NY.GDP.MKTP.CD' has 31 NaN values.
Column 'NY.GDP.MKTP.KD' has 58 NaN values.
Column 'NY.GDP.MKTP.KD.ZG' has 58 NaN values.
Column 'NY.GDP.MKTP.PP.CD' has 129 NaN values.
Column 'NY.GDP.NGAS.RT.ZS' has 105 NaN values.
Column 'NY.GDP.PCAP.CD' has 31 NaN values.
Column 'NY.GDP.PCAP.KD' has 58 NaN values.
Column 'NY.GDP.PCAP.KD.ZG' has 58 NaN values.
Column 'NY.GDP.PCAP.PP.CD' has 129 NaN values.
Column 'NY.GDP.PETR.RT.ZS' has 106 NaN values.
Column 'NY.GDP.TOTL.RT.ZS' has 50 NaN values.
Column 'NY.GNP.ATLS.CD' has 119 NaN values.
Column 'NY.GNP.MKTP.CD' has 98 NaN values.
Column 'NY.GNP.PCAP.CD' has 119 NaN values.
Column 'SE.PRM.DURS' has 54 NaN values.
Column 'SE.SEC.DURS' has 71 NaN values.
Column 'SH.DTH.0509' has 126 NaN values.
Column 'SH.DTH.1014' has 126 NaN values.
Column 'SH.DTH.1519' has 126 NaN values.
Column 'SH.DTH.2024' has 126 NaN values.
Column 'SH.DTH.IMRT' has 126 NaN values.
Column 'SH.DTH.MORT' has 126 NaN values.
Column 'SH.DTH.NMRT' has 126 NaN values.
Column 'SH.DYN.0509' has 126 NaN values.
Column 'SH.DYN.1014' has 126 NaN values.
Column 'SH.DYN.1519' has 126 NaN values.
Column 'SH.DYN.2024' has 126 NaN values.
Column 'SH.DYN.MORT' has 126 NaN values.
Column 'SH.DYN.MORT.FE' has 126 NaN values.
Column 'SH.DYN.MORT.MA' has 126 NaN values.
Column 'SH.DYN.NMRT' has 126 NaN values.
Column 'SH.H2O.BASW.ZS' has 44 NaN values.
Column 'SH.STA.BASS.ZS' has 52 NaN values.
Column 'SH.STA.ODFC.ZS' has 69 NaN values.
Column 'SM.POP.NETM' has 0 NaN values.
Column 'SP.ADO.TFRT' has 0 NaN values.
Column 'SP.DYN.AMRT.FE' has 164 NaN values.
Column 'SP.DYN.AMRT.MA' has 164 NaN values.
Column 'SP.DYN.CBRT.IN' has 45 NaN values.
Column 'SP.DYN.CDRT.IN' has 45 NaN values.
Column 'SP.DYN.IMRT.FE.IN' has 126 NaN values.
Column 'SP.DYN.IMRT.IN' has 126 NaN values.
Column 'SP.DYN.IMRT.MA.IN' has 126 NaN values.
Column 'SP.DYN.LE00.FE.IN' has 85 NaN values.
Column 'SP.DYN.LE00.IN' has 85 NaN values.
Column 'SP.DYN.LE00.MA.IN' has 85 NaN values.
Column 'SP.DYN.TFRT.IN' has 82 NaN values.
Column 'SP.DYN.TO65.FE.ZS' has 0 NaN values.
Column 'SP.DYN.TO65.MA.ZS' has 0 NaN values.
Column 'SP.POP.0004.FE.5Y' has 0 NaN values.
Column 'SP.POP.0004.MA.5Y' has 0 NaN values.
Column 'SP.POP.0014.FE.IN' has 0 NaN values.
Column 'SP.POP.0014.FE.ZS' has 0 NaN values.
Column 'SP.POP.0014.MA.IN' has 0 NaN values.
Column 'SP.POP.0014.MA.ZS' has 0 NaN values.
Column 'SP.POP.0014.TO' has 0 NaN values.
Column 'SP.POP.0014.TO.ZS' has 0 NaN values.
Column 'SP.POP.0509.FE.5Y' has 0 NaN values.
Column 'SP.POP.0509.MA.5Y' has 0 NaN values.
Column 'SP.POP.1014.FE.5Y' has 0 NaN values.
Column 'SP.POP.1014.MA.5Y' has 0 NaN values.
Column 'SP.POP.1519.FE.5Y' has 0 NaN values.
Column 'SP.POP.1519.MA.5Y' has 0 NaN values.
Column 'SP.POP.1564.FE.IN' has 0 NaN values.
Column 'SP.POP.1564.FE.ZS' has 0 NaN values.
Column 'SP.POP.1564.MA.IN' has 0 NaN values.
Column 'SP.POP.1564.MA.ZS' has 0 NaN values.
Column 'SP.POP.1564.TO' has 0 NaN values.
Column 'SP.POP.1564.TO.ZS' has 0 NaN values.
Column 'SP.POP.2024.FE.5Y' has 0 NaN values.
Column 'SP.POP.2024.MA.5Y' has 0 NaN values.
Column 'SP.POP.2529.FE.5Y' has 0 NaN values.
Column 'SP.POP.2529.MA.5Y' has 0 NaN values.
Column 'SP.POP.3034.FE.5Y' has 0 NaN values.
Column 'SP.POP.3034.MA.5Y' has 0 NaN values.
Column 'SP.POP.3539.FE.5Y' has 0 NaN values.
Column 'SP.POP.3539.MA.5Y' has 0 NaN values.
Column 'SP.POP.4044.FE.5Y' has 0 NaN values.
Column 'SP.POP.4044.MA.5Y' has 0 NaN values.
Column 'SP.POP.4549.FE.5Y' has 0 NaN values.
Column 'SP.POP.4549.MA.5Y' has 0 NaN values.
Column 'SP.POP.5054.FE.5Y' has 0 NaN values.
Column 'SP.POP.5054.MA.5Y' has 0 NaN values.
Column 'SP.POP.5559.FE.5Y' has 0 NaN values.
Column 'SP.POP.5559.MA.5Y' has 0 NaN values.
Column 'SP.POP.6064.FE.5Y' has 0 NaN values.
Column 'SP.POP.6064.MA.5Y' has 0 NaN values.
Column 'SP.POP.6569.FE.5Y' has 0 NaN values.
Column 'SP.POP.6569.MA.5Y' has 0 NaN values.
Column 'SP.POP.65UP.FE.IN' has 0 NaN values.
Column 'SP.POP.65UP.FE.ZS' has 0 NaN values.
Column 'SP.POP.65UP.MA.IN' has 0 NaN values.
Column 'SP.POP.65UP.MA.ZS' has 0 NaN values.
Column 'SP.POP.65UP.TO' has 0 NaN values.
Column 'SP.POP.65UP.TO.ZS' has 0 NaN values.
Column 'SP.POP.7074.FE.5Y' has 0 NaN values.
Column 'SP.POP.7074.MA.5Y' has 0 NaN values.
Column 'SP.POP.7579.FE.5Y' has 0 NaN values.
Column 'SP.POP.7579.MA.5Y' has 0 NaN values.
Column 'SP.POP.80UP.FE.5Y' has 0 NaN values.
Column 'SP.POP.80UP.MA.5Y' has 0 NaN values.
Column 'SP.POP.BRTH.MF' has 0 NaN values.
Column 'SP.POP.DPND' has 0 NaN values.
Column 'SP.POP.DPND.OL' has 0 NaN values.
Column 'SP.POP.DPND.YG' has 0 NaN values.
Column 'SP.POP.GROW' has 0 NaN values.
Column 'SP.POP.TOTL' has 0 NaN values.
Column 'SP.POP.TOTL.FE.IN' has 0 NaN values.
Column 'SP.POP.TOTL.FE.ZS' has 0 NaN values.
Column 'SP.POP.TOTL.MA.IN' has 0 NaN values.
Column 'SP.POP.TOTL.MA.ZS' has 0 NaN values.
Column 'SP.RUR.TOTL' has 10 NaN values.
Column 'SP.RUR.TOTL.ZG' has 81 NaN values.
Column 'SP.RUR.TOTL.ZS' has 10 NaN values.
Column 'SP.URB.GROW' has 10 NaN values.
Column 'SP.URB.TOTL' has 10 NaN values.
Column 'SP.URB.TOTL.IN.ZS' has 10 NaN values.
Column 'TG.VAL.TOTL.GD.ZS' has 90 NaN values.
Column 'TM.VAL.MRCH.AL.ZS' has 87 NaN values.
Column 'TM.VAL.MRCH.CD.WT' has 75 NaN values.
Column 'TM.VAL.MRCH.HI.ZS' has 39 NaN values.
Column 'TM.VAL.MRCH.OR.ZS' has 49 NaN values.
Column 'TM.VAL.MRCH.R1.ZS' has 43 NaN values.
Column 'TM.VAL.MRCH.R2.ZS' has 53 NaN values.
Column 'TM.VAL.MRCH.R3.ZS' has 55 NaN values.
Column 'TM.VAL.MRCH.R4.ZS' has 126 NaN values.
Column 'TM.VAL.MRCH.R5.ZS' has 57 NaN values.
Column 'TM.VAL.MRCH.R6.ZS' has 59 NaN values.
Column 'TM.VAL.MRCH.RS.ZS' has 39 NaN values.
Column 'TM.VAL.MRCH.WL.CD' has 39 NaN values.
Column 'TX.VAL.MRCH.AL.ZS' has 65 NaN values.
Column 'TX.VAL.MRCH.CD.WT' has 74 NaN values.
Column 'TX.VAL.MRCH.HI.ZS' has 39 NaN values.
Column 'TX.VAL.MRCH.OR.ZS' has 55 NaN values.
Column 'TX.VAL.MRCH.R1.ZS' has 51 NaN values.
Column 'TX.VAL.MRCH.R2.ZS' has 90 NaN values.
Column 'TX.VAL.MRCH.R3.ZS' has 96 NaN values.
Column 'TX.VAL.MRCH.R4.ZS' has 136 NaN values.
Column 'TX.VAL.MRCH.R5.ZS' has 74 NaN values.
Column 'TX.VAL.MRCH.R6.ZS' has 74 NaN values.
Column 'TX.VAL.MRCH.RS.ZS' has 39 NaN values.
Column 'TX.VAL.MRCH.WL.CD' has 39 NaN values.

In [159]:
df.corr()

,AG.LND.AGRI.K2,AG.LND.AGRI.ZS,AG.LND.ARBL.HA.PC,AG.LND.ARBL.ZS,AG.LND.CROP.ZS,AG.LND.FRST.K2,AG.LND.FRST.ZS,AG.LND.TOTL.K2,AG.SRF.TOTL.K2,BX.KLT.DINV.CD.WD,...,TX.VAL.MRCH.HI.ZS,TX.VAL.MRCH.OR.ZS,TX.VAL.MRCH.R1.ZS,TX.VAL.MRCH.R2.ZS,TX.VAL.MRCH.R3.ZS,TX.VAL.MRCH.R4.ZS,TX.VAL.MRCH.R5.ZS,TX.VAL.MRCH.R6.ZS,TX.VAL.MRCH.RS.ZS,TX.VAL.MRCH.WL.CD
AG.LND.AGRI.K2,1.000000,0.023066,0.049670,-0.069143,-0.125886,0.972892,-0.030382,0.994612,0.994047,0.735479,...,0.039201,0.037761,0.029662,-0.043553,-0.006992,-0.020942,-0.002081,-0.050062,-0.025687,0.779377
AG.LND.AGRI.ZS,0.023066,1.000000,0.206315,0.536938,0.170803,-0.026748,-0.440860,-0.008105,-0.008893,-0.003537,...,-0.128561,-0.013196,-0.117060,0.153218,-0.036991,0.116110,-0.017957,0.249484,-0.061496,-0.003751
AG.LND.ARBL.HA.PC,0.049670,0.206315,1.000000,0.179114,-0.263906,0.078621,-0.081654,0.067805,0.069499,0.042725,...,-0.029503,-0.013844,-0.048183,0.243862,0.046422,-0.031906,-0.074908,-0.011563,-0.062784,0.036528
AG.LND.ARBL.ZS,-0.069143,0.536938,0.179114,1.000000,0.099284,-0.081103,-0.213508,-0.080470,-0.079736,-0.028815,...,0.111013,-0.153963,-0.253883,0.171814,-0.078290,0.019491,-0.058185,0.096800,-0.053705,-0.023957
AG.LND.CROP.ZS,-0.125886,0.170803,-0.263906,0.099284,1.000000,-0.126197,0.045798,-0.129810,-0.129987,-0.095894,...,0.028508,-0.087193,0.020524,-0.087819,0.101491,0.064152,-0.046938,0.019703,-0.067504,-0.103203
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
TX.VAL.MRCH.R4.ZS,-0.020942,0.116110,-0.031906,0.019491,0.064152,-0.022985,-0.222958,-0.017872,-0.018035,-0.021215,...,-0.153521,0.161723,-0.134603,0.106499,-0.069433,1.000000,-0.008368,-0.063992,0.028412,-0.022550
TX.VAL.MRCH.R5.ZS,-0.002081,-0.017957,-0.074908,-0.058185,-0.046938,-0.025283,-0.024725,-0.007800,-0.008645,-0.057983,...,-0.392023,0.231505,0.018753,-0.091419,-0.127966,-0.008368,1.000000,0.022051,-0.022363,-0.053703
TX.VAL.MRCH.R6.ZS,-0.050062,0.249484,-0.011563,0.096800,0.019703,-0.066518,-0.118086,-0.058002,-0.058760,-0.102734,...,-0.396658,0.032797,-0.109831,-0.187638,-0.153904,-0.063992,0.022051,1.000000,-0.028866,-0.106674
TX.VAL.MRCH.RS.ZS,-0.025687,-0.061496,-0.062784,-0.053705,-0.067504,-0.024609,-0.106387,-0.026288,-0.026682,-0.045907,...,-0.210797,-0.039525,-0.080039,-0.056089,0.074265,0.028412,-0.022363,-0.028866,1.000000,-0.051475
TX.VAL.MRCH.WL.CD,0.779377,-0.003751,0.036528,-0.023957,-0.103203,0.761013,0.004169,0.789046,0.793759,0.930772,...,0.127178,0.023508,-0.003112,-0.032164,-0.008550,-0.022550,-0.053703,-0.106674,-0.051475,1.000000